/*

#933005  ​*botón de who we work with*​

#161616  ​*botón de contact us*​

Fuente
#424242 Negro

Our Powers
#EDEDED Gris

#FFFFFF Blanco

About
#E0BA19 Amarillo

Work
#E95A0C Naranja

Contact
#B4B3B4 GRIS MEDIONGO

*/


@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNextLTPro-Bold.otf');
}

/***************************/

.main-nav-icon .bar{
	background-color: #D1D2D4;
}

.Nav__contact {    
    color: #D1D2D4;
}

/*********************CANVA ANIMATION SECTION********************************/

.Home__hero__wrapper{
	padding: 0px;
}

.animation {
  padding: 0;
  margin: 0;
  background: white;
  height: 100vh;
}

.animation h1{
  text-align: left;
  font-family: 'Avenir';
  text-transform: capitalize;
  letter-spacing: 1px;
  position: absolute;
  top: 2.8em;
  margin-left: 1.1em;
  font-size: 80px;
  line-height: 1em;
  color: rgba(58, 56, 56, 0.98);
}

.animation h3{
  text-align: left;
  font-family: 'Avenir';
  text-transform: capitalize;
  letter-spacing: 1px;
  position: absolute;
  top: 6.5em;
  margin-left: 3em;
  font-size: 30px;
  line-height: 1em;
  color: rgba(58, 56, 56, 0.98);
}

  @media (max-width : 480px) {
  .animation h1 {
      text-align: left;
      top: 3.5em;
      margin-left: 18px;
      font-size: 4em !important;
  }
}
.animation h2 {
  font-size: 65px;
}

.animation p {
  font-size: 24px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

canvas {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px){}
	.Nav__logo {
    	top: 5.5vw;  
    	height: 120px;
   }
}

/*******************OUR POWERS***********************/


/*************** BOTONES DE ACORDEON ***********/
.accordion-section {
  font-family: Arial, sans-serif;
  width: 50%;
  margin: 0 auto;
}
.accordion-list {
  list-style: none;
}

.accordion-item-title {
  width: 100%;
  background-color: #eee;
  padding: 1em 2em;
  margin: 1em 0;
  text-transform: uppercase;
  font-size: 0.8em;
  opacity: 0.5;
  position: relative;
}

.accordion-item-title:after {
  content: " + ";
  position: absolute;
  right: 1em;
  font-size: 2em;
  top: 0.3em;
}

.accordion-item-content {
  width: 90%;
  margin: 0 auto;
  font-size: 0.8em;
}

.accordion-section li {
  cursor: pointer;
  positon: relative;
}

.accordion-item-title:after {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition:  all 0.35s ease-in-out;
  transition:  all 0.35s ease-in-out;
}

.accordion-list li.visible .accordion-item-title:after {
  -ms-transform: rotate(230deg);
  -webkit-transform: rotate(230deg);
  transform: rotate(230deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition:  all 0.5s ease-in-out;
  transition:  all 0.5s ease-in-out;
}

.accordion-list li.visible .accordion-item-content {
  visibility: visible;
  position: relative;
  opacity: 1;
  padding: 1em 0;
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1,1);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition:  all 1s ease-in-out;
  transition:  all 1s ease-in-out;
}

.accordion-item-content {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  padding: 0;
  -ms-transform: scale(0.9,0.9);
  -webkit-transform: scale(0.9,0.9);
  transform: scale(0.9,0.9);
  -webkit-transition: padding 0.8s ease-in-out, opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  -moz-transition:  padding 0.8s ease-in-out, opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transition:  padding 0.8s ease-in-out, opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  font-size: 13px !important;
}

video{
	display: none !important;
}

.Gallery__video__play,
.Video__play, 
.Gallery__video__play .Video__play{
	display: none !important;	
}